body
{
    font-family: "Playfair Display" , sans-serif;
}
header
{
    background-image: linear-gradient(50deg, #ffffff, #baddf9);
}
.navbar-brand,
.text-primary {
    font-size: 27px;
    color: #173c4f !important;
}
.blue-bg{
    background-color: #8989b1;
    color:rgb(175, 186, 160);
}
.icons{
    height: 32px;
    weight:32px ;
    padding:;
    margin: ;

}
.banner-pic{
    height:310px;
    margin-top: 1cm;
}

.tester2{
    color :rgb(109, 89, 147) 

}
.tester{
    height:120px ;
    width:150px ;
}
.tester3{
    height:200px ;
    width:200px ;

}

