body
{
    font-family: "Playfair Display" , sans-serif;
}
header
{
    background-image: linear-gradient(50deg, #eee1f2, #9a81ab);
}
.navbar-brand,
.text-primary {
    font-size: 27px;
    color: #173c4f !important;
}
.blue-bg{
    background-color: #5f5267;
    color:rgb(233, 228, 241);
}
.icons{
    height: 32px;
    weight:32px ;
    padding:;
    margin: ;

}
.banner-pic{
    height:390px;
    margin-top: 1cm;
}

.tester2{
    color :rgb(228, 201, 234) 

}
.tester{
    height:170px ;
    width:200px ;
}
.tester3{
    height:200px ;
    width:200px ;

}
.oof{
    color:rgb(147, 115, 155) 
}
.moa{
    height:150px ;
    width:420px ;
}
.logo{
    height:90px ;
    width:60px ;
}
.tah{
    color: #9a81ab;
}
footer{
    background-image: linear-gradient(50deg, #bbbbbb, #bbbbbb);
}
.ertebat{
    height:100px ;
    width:75px ;
}
.aboutl{
    width: 550px;
    height:250px;
}
.personeli{
    width: 100px;
    height:120px;
}
.anime{
    width: 200px;
    height: 200px;
}
.animee{
    width: 150px;
    height: 150px;
}
.mahsol{
    width: 400px;
    height: 400px;
}
.mahsol{
    font-size: 45rem;
}
